<!-- HTML TEMPLATE FOR BOARDVIEW HEADER -->
<div class="header">
  <div class="home-logo-icon"><a href="/"><ion-icon class="icon-logo" name="cloud-done-outline" href="/"></ion-icon></a></div>
  <div><h1 class="board-heading"><%=boardName%></h1></div>
  <div class="delete-board-icon"><ion-icon name="trash-outline"></ion-icon></div>
  <!-- <div class="user-menu"></div> -->
</div>
