<div class="create-ticket-modal-container">
  <div class="create-ticket-modal-content">
    <div class="create-ticket-modal-top-frame">
      <div></div>
      <div class="create-ticket-close-modal">x</div>
    </div>
    <div class="create-ticket-modal-header">Create new ticket</div>
    <div class="create-ticket-modal-form">
      <form class="create-ticket-form" action="/createTicket" method="post">
            <input type="hidden" name="boardId" value="<%=boardId%>" required>
          <div class="form-row">
            <label for="#ticket_title">Title</label>
            <input type="ticket-title" name="ticketTitle" id="ticket_title" required>
          </div>
          <div class="form-row">
            <label for="ticket_status">Status</label>
            <select class="ticket-status" name="ticketStatus" id="ticket_status" required>
              <option value="TODO" select="selected">To do</option>
              <option value="In progress">In progress</option>
              <option value="Testing">Testing</option>
              <option value="Done">Done</option>
            </select>
          </div>
          <div class="form-row">
            <label for="ticket_assignee">Assignee</label>
            <input type="text" name="ticketAssignee" id="ticket_assignee" required>
          </div>
          <div class="form-row">
            <label for="ticket_descr">Description</label>
            <textarea name="ticketDescr" rows="15" cols="40" id="ticket_descr"></textarea>
          </div>
          <button class="create-ticket-button" type="submit">Create</button>
      </form>

    </div>
    <div class="create-ticket-modal-footer"></div>
    </div>
  </div>
</div>
